<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Massage minute counter</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body class="mainText">
    <div>
        <maincounter th:text="'Remaining massage minutes: ' + ${minutes.getRemainingMinutes()}">Remaining massage minutes: 70.000 min</maincounter>
    </div>
    <br>
</body>
    <form class="form-inline" action="+" method="post">
        <div class="form-group">
            <label for="minutes">Massage minutes:</label>
            <input type="minutes" class="form-control" id="minutes">
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</html>